@media screen and (max-width: 1024px) {
  .container {
    max-width: 919px;
    margin: 0 auto;
  }

  .header-inner {
    min-height: 122px;
    position: relative;
  }

  .nav {
    display: none;
  }

  .header-logo {
    position: absolute;
    left: 50%;
    margin-left: -40px;
  }

  .header-logo svg {
    width: 80px;
  }

  .nav-item-link {
    font-size: 24px;
    line-height: 29px;
  }

  /* burger */
  .burger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 48px;
    height: 31px;
    border: none;
    background: none;
    position: absolute;
    right: 0;
  }

  .burger-icon-inner {
    width: 48px;
    height: 5px;
    background: #000;
  }

  .burger-icon::before,
  .burger-icon::after,
  .burger-icon-inner {
    content: "";
    width: 48px;
    height: 5px;
    background: #000;
  }
  /* menu-open */

  .header.menu-open {
    background: #000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 316px;
    z-index: 2;
  }

  .header.menu-open .header-inner {
    max-width: 919px;
    margin: 0 auto;
  }

  .header.menu-open .burger-icon::before,
  .header.menu-open .burger-icon::after,
  .header.menu-open .burger-icon-inner {
    background: #fff;
  }

  .header.menu-open .logo-svg {
    fill: #fff;
  }
  .header.menu-open + .carousel {
    padding-top: 122px;
  }

  .header.menu-open .burger-icon::after {
    content: none;
  }

  .header.menu-open .burger-icon-inner {
    transform: rotate(45deg);
    position: relative;
    top: -15px;
    transition: transform 0.5s;
  }

  .header.menu-open .burger-icon::before {
    transform: rotate(-45deg);
    position: relative;
    top: 10px;
    transition: transform 0.5s;
  }

  .header.menu-open .nav {
    position: absolute;
    display: flex;
    left: 50%;
    top: 176px;
    transform: translateX(-50%);
  }

  .nav-item-link {
    color: #fff;
  }
  .main-block-text {
    font-size: 20px;
    line-height: 24px;
  }
  /* history */
  .history-container {
    height: 504px;
    margin: 32px 0px 32px 0px;
    gap: 32px;
    display: flex;
    flex-wrap: wrap;
  }

  .history,
  .contact {
    font-size: 28px;
    line-height: 34px;
  }

  .description-block {
    background-color: #000;
    width: 928px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
  }

  .description-history {
    margin: 48px;
    display: inline-block;
  }
}

.contact {
  margin-bottom: 32px;
}

.contact-form {
  margin-bottom: 80px;
}

@media screen and (max-width: 414px) {
  .container {
    max-width: 374px;
    padding: 0;
    margin: 0 auto;
  }

  .header.menu-open {
    min-height: 332px;
  }

  .header.menu-open .nav {
    top: 128px;
    transform: translateX(-135%);
  }

  .header.menu-open .nav-list {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 48px;
  }

  .header-logo,
  .nav {
    display: none;
  }

  .header-inner {
    min-height: 0;
  }

  /* burger */
  .burger-icon {
    z-index: 1;
    top: 20px;
    right: 20px;
  }

  .burger-icon::before,
  .burger-icon::after,
  .burger-icon-inner {
    background: #fff;
  }

  /* menu-open */
  .header.menu-open .header-logo {
    display: flex;
    top: 30px;
    transform: translateX(-165%);
  }

  .header.menu-open .nav {
    top: 128px;
    transform: translateX(-155%);
  }

  .header.menu-open .header-inner {
    max-width: 374px;
    margin: 0 auto;
  }

  .nav-item-link {
    font-size: 20px;
    line-height: 24px;
  }

  .nav-item:not(:first-child) {
    margin-left: 20px;
  }

  /* main-block */
  .main-block-text {
    font-size: 18px;
    line-height: 22px;
  }
  /* history */
  .description-block {
    width: 374px;
  }

  .history,
  .contact {
    font-size: 20px;
    line-height: 24px;
  }

  .description-history {
    font-size: 16px;
    line-height: 20px;
    margin: 20px;
  }

  .value {
    font-size: 24px;
    line-height: 29px;
  }
  .history-container {
    margin-bottom: 74px;
    display: flex;
    justify-content: center;
  }
  /* footer */
  .contact-form {
    display: flex;
    flex-direction: column;
    row-gap: 19px;
  }

  .btn-send {
    position: absolute;
    padding: 16px 152px;
    top: 1486px;
    font-size: 24px;
    line-height: 29px;
    left: 50%;
    transform: translateX(-50%);
  }

  .contact-form {
    height: 150px;
    margin-bottom: 180px;
  }
}
